<br />
<br />
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
      
      <div class="form-group">
        <label for="username">Kullanıcı Adı & Email</label>
        <input
          type="text"
          class="form-control"
          id="username"
          #txtUsernameOrEmail
        />
        <!-- <small
          class="form-text text-muted invalid-feedback"
          style="background-color: rgb(255, 126, 126); padding-left: 1%;"
          *ngIf="submitted && component.username.errors?.required"
          >Lütfen kullanıcı adını boş geçmeyiniz.</small
        > -->
      </div>
      <div class="form-group">
        <label for="password">Şifre</label>
        <input
          type="password"
          class="form-control"
          id="password"
          #txtPassword
        />
        <!-- <small
          class="form-text text-muted invalid-feedback"
          style="background-color: rgb(255, 126, 126); padding-left: 1%;"
          *ngIf="submitted && component.password.errors?.required"
          >Lütfen şifreyi boş geçmeyiniiz.</small
        > -->
      </div>
      
      <asl-google-signin-button></asl-google-signin-button>
      <img src="../../../assets/facebook.png" style="width: 30px; height: 30px; cursor:pointer;" (click)="facebookLogin()" />
      <br><br>
      <button type="submit" class="btn btn-primary" (click)="login(txtUsernameOrEmail.value, txtPassword.value)">Giriş Yap</button>
      
  </div>
  <div class="col-md-3"></div>
</div>
