<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" routerLink="">ECommerce</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="#"
                routerLink=""
                >Ana Sayfa</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="products">Ürünler</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#" routerLink="baskets">Sepet</a>
            </li> -->
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                routerLink="register"
                *ngIf="!authService.isAuthenticated"
                >Kayıt Ol</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                routerLink="login"
                *ngIf="!authService.isAuthenticated"
                >Giriş Yap</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                style="color: red; cursor: pointer"
                (click)="signOut()"
                *ngIf="authService.isAuthenticated"
                >Çıkış Yap</a
              >
            </li>
            <!-- <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider" /></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                  </li> -->
            <li class="nav-item">
              <a
                class="btn btn-outline-success"
                type="submit"
                routerLink="admin"
                *ngIf="authService.isAuthenticated"
                >Yönetim Paneli</a
              >
            </li>
          </ul>
          <!-- <form class="d-flex" role="search">
                  <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                  />
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
          <div class="d-flex">
            <button
              class="btn btn-outline-success"
              data-bs-toggle="modal"
              data-bs-target="#basketModal"
              (click)="loadComponent()"
              type="submit"
            >
              Sepet
            </button>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row admin-container">
  <div class="col-md-1"></div>
  <div class="col-md-10"><router-outlet></router-outlet></div>
  <div class="col-md-1"></div>
</div>

<ngx-spinner type="ball-scale-multiple" size="default" name="s1"></ngx-spinner>
<ngx-spinner type="pacman" size="default" name="s2"></ngx-spinner>
<ngx-spinner type="ball-triangle-path" size="default" name="s3"></ngx-spinner>

<div class="modal fade" id="basketModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <ng-template appDynamicLoadComponent></ng-template>
  </div>
</div>
