<br>
<br>    
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="adSoyad">Ad Soyad</label>
                <input type="text" class="form-control" id="adSoyad" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="kullaniciAdi">Kullanıcı Adı</label>
                <input type="text" class="form-control" id="kullaniciAdi" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="sifre">Şifre</label>
              <input type="password" class="form-control" id="sifre">
            </div>
            <div class="form-group">
                <label for="sifreTekrar">Şifre Tekrar</label>
                <input type="password" class="form-control" id="sifreTekrar">
              </div>
            <br>
            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
          </form>
    </div>
    <div class="col-md-3"></div>
</div>